<link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
<title>Directory</title>

<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Camp Link</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/directory">Directory</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav><br>

<div class="container" style="margin-top: 10px;">
    <!--generate divisions for each user in db-->
    {{#each users}}
    <div class="row">
        <div class="col s4">
            <img src="{{this.profile_pic}}" style="width: 130px; height: 130px;" />
        </div>
        <div class="col s4">
            <div class="row">
                <h2><a href="/profile/{{this.username}}">{{this.first_name}} {{this.last_name}}</a></h2>
            </div>
            <div class="row">
                <a href="{{this.portfolio_link}}">Link to Portfolio</a>
            </div>
            <div class="row">
                <a href="{{this.github_link}}">Link to github</a>
            </div>
            <div class="row">
                <p>Favorite Language(s): {{this.languages}}</p>
            </div>
        </div>
    </div>
    <hr>
    {{/each}}
</div>