<link rel="stylesheet" type="text/css" media="screen" href="/styles/profile.css" />
<title>Profile</title>

<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Camp Link</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/directory">Directory</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav><br>
{{#each users}}
<div class="container">
    <div class="row" id="profile-holder">
        <div class="col-3 left" id="picture-holder">
            <img src="{{this.profile_pic}}">

        </div>
        <div class="col-9 right">
            <p class="name">{{this.first_name}} {{this.last_name}}</p>
            <p class="year">{{this.year}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class=row>
        <div class="col-4 center-align">
            <p class="section_header">Contact Info<br></p>
            Github: <a href={{this.github_link}}> {{this.github_link}} </a><br>
            Portfolio: <a href={{this.portfolio_link}}> {{this.portfolio_link}}</a><br>
            Email: <a> {{this.email}}</a><br>
        </div>
        <div class="col-4 center-align">
            <p class="section_header">Coding Info<br></p>
            Languages: {{this.languages}} <br>
        </div>
        <div class="col-4 center-align">
            <p class="section_header">Employment Info<br></p>
            Current Job: {{this.current_job}}<br>
            Looking to Hire? {{this.is_hiring}}<br>
            Looking for Work? {{this.searching_for_work}}<br>
        </div>
    </div>
</div>
{{/each}}